@import "tailwindcss";

/* CSS変数 */
:root {
    --color-base: #F5F7FA;
    --color-main: #263238;
    --color-accent: #03A9F4;

    --font: var(--font-inter), var(--font-noto-sans-jp), system-ui, sans-serif;
}

/* 基本設定 */
html {
    font-size: 100%;
}

body {
    background-color: var(--color-base);
    color: var(--color-main);
    font-family: var(--font);
    letter-spacing: 0.05em;
}

button {
    cursor: pointer;
}